.title-page {
  background-color: cyan;
  color: white; }

.subtitle-page {
  background-color: #e6ffff;
  color: teal; }

.letra {
  border: 1px solid black;
  background-color: #e6ffff;
  text-align: center;
  transition: background-color 5s, transform 5s; }

.linea-ahorcado {
  padding: 0px;
  border: 1px solid #99ffff;
  border-bottom: 5px solid teal;
  height: 100px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  min-height: 150px;
  display: block; }

.ahorcado-content {
  letter-spacing: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 15px; }

#contenidoPalabra {
  letter-spacing: 20px;
  font-size: 20px; }

#numeroIntentos {
  transition: color 5s, font-size 3s;
  height: 25px; }

#volverAJugar {
  opacity: 0; }
